.bg_dark_blue {
    background: #f4060c;
    background: linear-gradient(
        90deg,
        rgba(244, 6, 12, 1) 0%,
        rgba(164, 5, 5, 1) 100%
    );
}

.title_brands {
    background: #00668f;
    background: linear-gradient(
        0deg,
        rgba(0, 102, 143, 1) 0%,
        rgba(0, 156, 156, 1) 100%
    );
    padding: 1.5rem 3rem;
    display: inline-block;
    border-radius: 15px;
    font-family: var(--font-secundary);
    font-size: 1.2rem;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
}

.brands {
    width: 100%;
    overflow: hidden;
}

.track {
    display: flex;
    align-items: center;
    gap: 8rem;
    width: max-content;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.img_brands {
    width: 100px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}
